body{
    margin: 0px;
    font-family: inherit;
}
.navigation{
    display:flex;
    justify-content: space-around;
}
.navList{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.navOption{
    padding: 10px;
}

.pic-section{
    margin:0;
}
.info-slider{
    display:flex;
    position: absolute;
    top:0;
    bottom: 0;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.red-div{
    margin:0px;
    padding:0px;
}

#red-info{
    background-color: #ed564a;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    width: 100vw;
    margin: 0px;
    padding: 50px;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.content{
    text-align: center;
    color: #fff;
    padding: 15px;
}

#project-section{
    display:flex;
    flex-direction: column;
}

#project-section-title{
    padding: 20px;
    align-self: flex-start;
    width: 80vw;
    margin-left: 100px;
}

#project-section-title p{
    color: #aaa;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
}

#project-pics-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-self: center;
}

.project-link{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    color: black;
}

.project-link img{
    width: 200px;
}

#article-section{
    display:flex;
    flex-direction: column;
}

#article-section-title{
    padding: 20px;
    align-self: flex-start;
    width: 80vw;
    margin-left: 100px;
}

#article-section-title p{
    color: #aaa;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
}

#article-section-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-self: center;
}

.article-section-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.article-section-item span{
    font-weight: inherit;
    color: #606060;
    line-height: 1.6;
    margin-bottom: 20px;
}

.article-section-item span a{
    color:red;
}

.article-link{
    margin-bottom: 10px;
    color: black;
}

.article-link img{
    width: 200px;
    padding: 5px;
}

